
    <form name="myform" method="post" (ngSubmit)="login()">
        <h1>{{header}}</h1>
    <div id="div1">
        <h1><b><i>login</i></b></h1><br><br>
        <input [(ngModel)]= "acno" type="text" name="acno" [placeholder]="accplaceholder"><br><br>
      
        <input [(ngModel)] ="pswd" type="password" name="pswd" placeholder="password"><br><br>
       
        <button type="submit">login</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       
        <button>reset</button><br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;new user?<a href="register">register</a>


    </div>
</form>

