
    <form name="myform" method="post" >
        <h1>{{header}}</h1>
    <div id="div1">
        <h1><b><i>login</i></b></h1><br><br>
        <input #acno type="text" id="account" [placeholder]="accplaceholder"><br><br>
      
        <input  #pwd type="password" id="pwd" placeholder="password"><br><br>
       
        <button (click)="login(acno,pwd)">login</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
       
        <button>reset</button><br><br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;new user?<a href="">register</a>


    </div>
</form>

