<form [formGroup]="registerForm" name="" method="post" (ngSubmit)="register()">
    <h1></h1>
<div id="div1">
    <h1><b><i>Register Here</i></b></h1><br><br>
    <input formControlName="acno" type="text" name="acno" placeholder="accout number"><br><br>
    <input formControlName="uname" type="text" name="uname" placeholder="username"><br><br>
  
    <input formControlName="pswd" type="password" name="pswd" placeholder="password"><br><br>
   
    <button type="submit">submit</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
   
    <button>reset</button><br><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;already registered?<a href="">login</a>


</div>
</form>

